@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import 'tailwindcss';

body {
	margin: 0;
	font-family:
		'Roboto',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@theme {
	--color-blue: #1485ff;
	--color-blue-light: #8eb8e6;
	--color-purple: #b65bf3;
	--color-pink: #e83e8c;
	--color-red: #d41629;
	--color-orange: #fd7d15;
	--color-yellow: #ffc429;
	--color-yellow-light: #f3e246;
	--color-green: #28a745;
	--color-green-light: #66e686;
	--color-green-dark: #0f8b2c;
	--color-teal: #20c997;
	--color-cyan: #3ec2eb;
	--color-white: #fff;
	--color-transparent-grey: rgba(184, 184, 184, 0.5);
	--color-grey: #6c757d;
	--color-grey-dark: #343a40;
	--color-brand: #e51937;
	--color-brand-dark: #e51937;
	--color-light: #f9f9f9;
	--color-dark: #2b2b2b;
	--color-deep-dark: #000712;
	--color-brand-light: #f26b7b;
	--color-pastel-green: rgb(104, 240, 133);
	--color-pastel-yellow: rgb(253, 251, 147);
	--color-pastel-red: rgb(247, 119, 119);
	--color-beige: rgb(248, 247, 240);
	--color-pool: #9cf1f1;

	--font-poppins: 'Poppins', sans-serif;

	--color-manager: #ffc429;
	--color-mes: #ffe08c;
	--color-ar: #187bb4;
	--color-mea-ft: #e51937;
	--color-mea-pt: #f26b7b;
	--color-fa-ft: #2ead57;
	--color-fa-pt: #a7e9af;
	--color-maintenance: #f3e246;

	--color-cobalt: #0047ab;
	--color-cobalt-hover: #1274ff;
	--color-cobalt-dark: #282c31;
	--color-cobalt-light: #4592ff;
	--color-cobalt-white: #f8f9fa;
	--color-abyss: #000712;
}

input,
textarea,
select {
	@apply bg-white rounded-lg border p-2 focus:outline-0 border-transparent-grey;
	@apply focus:border-cobalt-light shadow-sm transition;
	@apply placeholder-gray-400;
	caret-color: var(--color-cobalt-light);
}

input,
textarea {
	@apply focus:scale-105;
}

button {
	@apply cursor-pointer;
}

.error-message {
	@apply text-[red] text-sm;
}
